/*universal selector setting margin and padding*/
*{
    margin: 10px;
    padding: 0;
}

/*view highscores button styling*/
button{
    color: darkblue;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 5px;
}

/*view highscores buttton's hover styling*/
button:hover{
    background-color: darkblue;
    color: lightskyblue;
}

/*timer p tag's styling*/
.timer{
    color: darkblue;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 5px;
    border-style: solid;
}

/*align top right*/
.align-top-right{
    position: absolute;
    top: 0;
    right: 0;
}

/*align top left*/
.align-top-left{
    position: absolute;
    top: 0;
    left: 0;
}

/*aligns the content section in the middle as it is the main feature of the application*/
.content-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 500px;
    margin: 0 auto;
}

/*aligning items inside the container div*/
#container{
    display: flex;
    align-items: center;
    flex-direction: column;
}